/* стиль для мобильной версии */
@media (max-width: 576px){
/* пока пустой, т.к. в планшетной версии повторяется для меню */
.btn-cta{
	width: 90%;
	max-width: 493px;
	margin: 1.2rem auto;
}
}